[project]
[access "refs/heads/*"]
	owner = group Administrators
	create = group acclaim-maintainers
	push = +force group acclaim-maintainers
	label-Code-Review = -2..+2 group acclaim-maintainers
	label-Verified = -1..+1 group acclaim-maintainers
	submit = group acclaim-maintainers
	forgeAuthor = group acclaim-maintainers
	forgeCommitter = group acclaim-maintainers
[submit]
	action = rebase if necessary
